/** global styles**/
*{
    font-family: 'Lato', sans-serif;
}
body{
    background: pink;
}
p, p:hover{
    text-decoration: none;
}
/**** Navbar Styles ****/
.nav-brand{
    border-radius: 0px;
}
#navbar {
    background: skyblue;
    border: 0px;
}
.nav-brand h1{
    margin-top: 0px;
    font-size: 24px;
    color: #fff;
}
#nav-list {
    background: deepskyblue;
    margin-top: 10px;
}
#nav-list a {
    color: #e4b9b9;
    text-align: center;
    font-size: 1.8em;
}

ul li a {
    color: #fff
}
.navbar-default .navbar-toggle .icon-bar{
    background: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus{
    background: #000;
}

.navbar-default {
    border: 0px;
}
/**** Main content ****/
#first-row{
    background: #00796B;
    border-radius: 4px;
    color: ;
}
#first-row > div{
    background: pink;
}
#first-row > div > h3{
    margin-bottom: 30px;
}
#first-row > div > .content{
    font-size: 1.1em;
}

.back-link{
    color: black;
    font-size: 1.2em;
}
.back-link:hover{
    color: #222;
}
.menu-item .content{
    margin-bottom: 30px;
    background: lightblue;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 5px;
}

.link{
    margin-bottom: 30px;
}
